.arrow-top {
    display: inline-block;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: opacity .3s 0s, background .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, background .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, background .3s 0s, visibility 0s .3s;
}

.arrow-top.arrow-is-visible, .arrow-top.arrow-fade-out, .arrow-top:hover {
    -webkit-transition: opacity .3s 0s, background .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, background .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, background .3s 0s, visibility 0s .3s;
}

.arrow-top.arrow-is-visible {
    visibility: visible;
    opacity: 0.5;
}

.arrow-top.arrow-fade-out {
    opacity: .5;
}

.arrow-top:hover,
.arrow-top:focus,
.arrow-top:active {
    opacity: 1;
}

@media only screen and (max-width: 991px) {
    .arrow-top {
        right: 20px;
        bottom: 20px;
        height: 40px;
        width: 40px;
    }
}