header {
    border-bottom: solid 1px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header .brand {
    margin-top: 10px;
    width: 111px;
    height: 33px;
}

header .application {
    text-align: center;
    margin-top: 12px;
}

header.no-menu .application {
    text-align: right;
}

header .support {
    margin-top: 18px;
    text-align: right;
}
