/* GENERAL CLASSES */
/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-left: 1px solid;
}

::-webkit-scrollbar-thumb {
    opacity: 0.8;
}

::-webkit-scrollbar-thumb:window-inactive {
    opacity: 0.8;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 1;
}