/*
colors:
    background: #ffffff; (white)
    accent-light: rgb(186, 197, 227); (light-blue)
    accent: rgb(45, 101, 161); (blue)
    accent-dark: rgb(56, 84, 113); (dark-blue)

    text primary: rgb(183, 186, 199); (light grey)
    text secondary: rgb(80, 83, 88); (grey)
    border: rgb(183, 186, 199); (light grey);
    border-dark: #000000;

    menu: rgb(241, 241, 244);

    link (link & disabled button): rgb(45, 101, 161);
    link.active: rgb(56, 84, 113);

    button (primary color): rgb(56, 84, 113);
    button (primary color replacement): rgb(186, 197, 227);
    button.active: rgb(43, 67, 92);

    light-green: rgb(208, 255, 208);
    dark-green: rgb(0, 192, 0);

    light-yellow: rgb(255, 239, 208);
    dark-yellow: rgb(240, 160, 0);

    light-red: rgb(255, 208, 208);
    dark-red: rgb(240, 0, 0);
*/

.info-message-before:before,
.info-message {
    background-color: rgb(208, 255, 208);
    color: rgb(80, 83, 88);
}

.info-action-before:before,
.info-action {
    color: rgb(0, 192, 0);
    background: #ffffff;
}

.warning-message-before:before,
.warning-message {
    background-color: rgb(255, 239, 208);
    color: rgb(80, 83, 88);
}

.warning-action-before:before,
.warning-action {
    color: rgb(240, 160, 0);
    background-color: #ffffff;
}

.danger-message-before:before,
.danger-message {
    background-color: rgb(255, 208, 208);
    color: rgb(80, 83, 88);
}

.danger-action-before:before,
.danger-action {
    color: rgb(240, 0, 0);
    background-color: #ffffff;
}

.neutral-message-before:before,
.neutral-message,
.arrow-top {
    background-color: rgb(186, 197, 227);
    color: rgb(80, 83, 88);
}

.neutral-action-before:before,
.neutral-action,
.arrow-top:hover, .arrow-top:active, .arrow-top:focus {
    color: rgb(45, 101, 161);
    background-color: #ffffff;
}

hr {
    border-color: rgb(183, 186, 199);
}

/* classes */
.border-bottom,
.border-top,
.border-left,
.border-right {
    border-color: rgb(183, 186, 199);;
}

/* nodes */
body {
    background-size: cover;
    background: url("../img/background.jpg") fixed center center;
}

a {
    color: rgb(45, 101, 161);
}

a:hover, a:active, a:focus {
    color: rgb(56, 84, 113);
}

/* elements */
#loading-bar {
    background-color: rgb(186, 197, 227);
}

/* elements/menu/tiles */
.tiles li {
    border-color: #000000;
}

.tiles li a {
    color: rgb(80, 83, 88);
}

.tiles li:hover,
.tiles li:focus,
.tiles li:active,
.tiles li.active:hover,
.tiles li.active:focus,
.tiles li.active:active {
    border-top-color: rgb(186, 197, 227);
    color: rgb(80, 83, 88);
}

.tiles li.active {
    border-color: rgb(56, 84, 113);
    background: #ffffff;
}

/*elements/scrollbar */
::-webkit-scrollbar-track {
    background: #ffffff;
    border-left-color: rgb(186, 197, 227);
}

::-webkit-scrollbar-thumb {
    background: rgb(186, 197, 227);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(186, 197, 227);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(56, 84, 113);
}

/* elements/modals */
.modal-backdrop {
    background: #ffffff;
}

.modal-content {
    background: #ffffff;
    color: rgb(80, 83, 88);
    border-color: rgb(183, 186, 199);
}

/*elements/menu */
.primary-menu-items .tiles li {
    border-right-color: rgb(255, 255, 255);
}

.secondary-menu-items .tiles li {
    border-left-color: rgb(255, 255, 255);
}

/*elements/table */
table.sortable thead th a {
    color: rgb(56, 84, 113);
}

/* elements/header */
header {
    background-color: #ffffff;
    border-bottom-color: rgb(183, 186, 199);
}

header .brand {
    color: rgb(56, 84, 113);
}

header .application {
    color: rgb(80, 83, 88);
}