/* grey */
@font-face {
  font-family: "Lato Light";
  src: url("../fonts/lato/light/Lato-Light.eot");
  src: url("../fonts/lato/light/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/light/Lato-Light.woff") format("woff"), url("../fonts/lato/light/Lato-Light.woff2") format("woff2"), url("../fonts/lato/light/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Lato Light";
  src: url("../fonts/lato/lightitalic/Lato-LightItalic.eot");
  src: url("../fonts/lato/lightitalic/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lightitalic/Lato-LightItalic.woff") format("woff"), url("../fonts/lato/lightitalic/Lato-LightItalic.woff2") format("woff2"), url("../fonts/lato/lightitalic/Lato-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Lato Thin";
  src: url("../fonts/lato/thin/Lato-Thin.eot");
  src: url("../fonts/lato/thin/Lato-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/thin/Lato-Thin.woff") format("woff"), url("../fonts/lato/thin/Lato-Thin.woff2") format("woff2"), url("../fonts/lato/thin/Lato-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Lato Thin";
  src: url("../fonts/lato/thinitalic/Lato-ThinItalic.eot");
  src: url("../fonts/lato/thinitalic/Lato-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/thinitalic/Lato-ThinItalic.woff") format("woff"), url("../fonts/lato/thinitalic/Lato-ThinItalic.woff2") format("woff2"), url("../fonts/lato/thinitalic/Lato-ThinItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

p, ul, a {
  font-family: "Lato Light", sans-serif;
  color: #333; }

h1, h2, h3, h4, h5 {
  font-family: "Lato Thin", sans-serif;
  color: #555; }

a:hover, a:focus, a:active {
  text-decoration: none;
  color: #959494; }

.full .height {
  height: 100%; }

.full .width {
  width: 100%; }

.header {
  font-family: "Lato Thin", sans-serif; }

#view {
  display: flex; }

#content-right {
  flex: 1 1 auto;
  background-color: #fff;
  position: relative; }

#center-content {
  margin-top: 5em;
  padding: 1em; }

#header {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  border-bottom: solid #999 1px; }

#header h1 {
  padding: 1em;
  font-size: 1.5em; }

#menu-left {
  flex: 0 0 auto;
  background-color: #2b333d;
  min-height: 100%;
  width: 15em;
  content: "";
  display: table;
  clear: both; }
