@media (max-width: 991px) {

    body {
        width: 100%;

        transition: margin-left 0.3s ease-in-out;
    }

    .mobile-container {
        overflow-x: hidden;
    }

    .endspacer {
        height: 50px;
    }

    .content {
        border-bottom: solid 1px rgb(183, 186, 199);
        padding: 10px;
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }

    .right-content {
        width: 100%;
        padding-left: 0;
    }

    .message {
        position: relative;
    }

    .message > div.col-md-11 {
        padding: 5px;
    }

    .message > div.col-md-1 {
        position: absolute;
        right: 0;
        top: 13px;
    }

    header {
        height: 90px;
        position: static;
    }

    header > .container,
    header > .col-md-3 {
        padding-left: 0;
    }

    header .menu-toggle {
        position: absolute;
        display: block;
        z-index: 1;
        margin-top: -2px;
        left: 0;
        height: 90px;
    }

    body.menu-expanded header .menu-toggle li a {
        border-top: solid 2px rgb(56, 84, 113);
        padding: 0 20px 13px 20px;
        outline: none;
    }

    header .brand {
        display: none;
    }

    header .support {
        position: absolute;
        margin-top: 32px;
        right: 0;
    }

    header .application {
        position: absolute;
        margin-top: 28px;
        width: 100%;
        text-align: center;
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        -webkit-transition: opacity 0.3s, ease-in-out;
        -moz-transition: opacity 0.3s, ease-in-out;
        -ms-transition: opacity 0.3s, ease-in-out;
        -o-transition: opacity 0.3s, ease-in-out;
        transition: opacity 0.3s, ease-in-out;
    }

    @media (max-width: 767px) {
        header .application {
            left: -84%;
            width: 80%;
            text-align: right;
        }
    }

    header.no-menu .application {
        left: 0;
        width: 100%;
        text-align: center;
    }

    #tab-content-slider {
        -webkit-transition: opacity 0.3s, ease-in-out, margin-left 0.3s, ease-in-out;
        -moz-transition: opacity 0.3s, ease-in-out, margin-left 0.3s, ease-in-out;
        -ms-transition: opacity 0.3s, ease-in-out, margin-left 0.3s, ease-in-out;
        -o-transition: opacity 0.3s, ease-in-out, margin-left 0.3s, ease-in-out;
        transition: opacity 0.3s, ease-in-out, margin-left 0.3s, ease-in-out;
        margin-top: 10px;
        margin-left: 0;
        width: 100%;
    }

    #tab-content-slider > div.container,
    .center-content-wrapper > div.container {
        padding: 0;
    }

    .center-content-wrapper {
        margin-top: 10px;
    }

    #topbar {
        position: absolute;
        margin: 0;
        width: 80%;
        border-right: solid 1px rgb(183, 186, 199);
        border-bottom: solid 1px rgb(183, 186, 199);

        opacity: 0;
        -webkit-transition: opacity 0.3s, ease-in-out;
        -moz-transition: opacity 0.3s, ease-in-out;
        -ms-transition: opacity 0.3s, ease-in-out;
        -o-transition: opacity 0.3s, ease-in-out;
        transition: opacity 0.3s, ease-in-out;
    }

    body {
        overflow-x: hidden;
    }

    body.menu-expanded footer {
        opacity: 1;
    }

    body.menu-expanded #tab-content-slider {
        margin-left: 80%;
    }

    body.menu-expanded #tab-content-slider {
        opacity: 0.6;
    }

    body.menu-expanded #topbar {
        opacity: 1;
    }

    #topbar .container {
        width: auto;
        padding: 0;
    }

    .tilebutton {
        background-color: rgb(56, 84, 113);
        color: #ffffff;
        margin-left: 4px;
    }

    .tilebutton:active,
    .tilebutton:focus,
    .tilebutton:hover {
        color: #ffffff;
        background-color: rgb(186, 197, 227);
    }

    table td .btn-group {
        margin: -4px;
    }

    .secondary-menu-items {
        position: absolute;
        top: -90px;
        left: 90px;
    }

    .tiles li a {
        padding: 0 20px 11px 20px;
    }

    .primary-menu-items {
        float: none;
    }

    .primary-menu-items .tiles {
        height: auto;
    }

    .primary-menu-items .tiles li {
        float: none;
    }

    .primary-menu-items .tiles li a {
        display: block;
        padding: 14px 0;
    }

    .primary-menu-items .tiles span {
        display: inline;
        margin: 0 10px 0 -5px;
    }
}