$background: #ffffff; //(white)
$accent-light: rgb(186, 197, 227); //(light-blue)
$accent: rgb(45, 101, 161); //(blue)
$accent-dark: rgb(56, 84, 113); //(dark-blue)

$text-primary: rgb(183, 186, 199); //(light grey)
$text-secondary: rgb(80, 83, 88); //(grey)
$text-white: #ffffff;
$border-active: $text-secondary;
$border-passive: $text-primary;

$light-green: rgb(208, 255, 208);
$dark-green: rgb(0, 192, 0);

$light-yellow: rgb(255, 239, 208);
$dark-yellow: rgb(240, 160, 0);

$light-red: rgb(255, 208, 208);
$dark-red: rgb(240, 0, 0);

$opacity-active: 1;
$opacity-passive: 0.65;